In [1]:
import pandas as pd
import numpy as np

In [5]:
dic1 = {
    "name" : ["niya","diya","siya"],
    "Age" : [20,25,56],
    "city" : ["ahemdabad","surat","ahemdabad"]
}

In [14]:
value = pd.DataFrame(dic1)

ValueError: All arrays must be of the same length

In [10]:
value

   name  Age       city
0  niya   20  ahemdabad
1  diya   25      surat

In [8]:
value

   name  Age       city
0  niya   20  ahemdabad
1  diya   25      surat

In [9]:
value.to_csv("p1.csv")

In [11]:
value

   name  Age       city
0  niya   20  ahemdabad
1  diya   25      surat

In [12]:
value.to_csv("p1.csv",index=False)

In [15]:
value.tail(2)

   name  Age       city
0  niya   20  ahemdabad
1  diya   25      surat

In [16]:
value.tail(1)

   name  Age   city
1  diya   25  surat

In [17]:
value.head(1)

   name  Age       city
0  niya   20  ahemdabad

In [18]:
value.describe()

             Age
count   2.000000
mean   22.500000
std     3.535534
min    20.000000
25%    21.250000
50%    22.500000
75%    23.750000
max    25.000000

In [19]:
read = value.read_csv("p1.csv")

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [20]:
readdata = value.read_csv("p1.csv")

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [21]:
readdata = value.read_csv('p1.csv')

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [22]:
readdata = pd.read_csv('p1.csv')

In [22]:
readdata = pd.read_csv('p1.csv')

In [23]:
readdata

   name  Age       city
0  niya   20  ahemdabad
1  diya   25      surat

In [24]:
readdata = pd.read_csv('p1.csv')

In [25]:
readdata

   id   id.1 firstname
0  12    asd    efjver
1  13    sdf       jya
2  14  jtscc  eweqwqqa

In [26]:
p1[Age]

NameError: name 'p1' is not defined

In [27]:
readdata[Age]

NameError: name 'Age' is not defined

In [28]:
readdata['Age']

KeyError: 'Age'

In [1]:
readdata

NameError: name 'readdata' is not defined

In [30]:
readdata['name']

KeyError: 'name'

In [31]:
readdata['Age']

KeyError: 'Age'

In [32]:
readdata = pd.read_csv('p1.csv')

In [33]:
readdata['Age']

0    20
1    25
Name: Age, dtype: int64

In [34]:
readdata['name']

0    niya
1    diya
Name: name, dtype: object

In [35]:
readdata['Age'][0]

np.int64(20)

In [36]:
readdata['Age'][0]=45

C:\Users\HP\AppData\Local\Temp\ipykernel_8764\2469715685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readdata['Age'][0]=45

In [37]:
readdata

   name  Age       city
0  niya   45  ahemdabad
1  diya   25      surat

In [38]:
readdata.to_csv('p1.csv')

In [39]:
readdata

   name  Age       city
0  niya   45  ahemdabad
1  diya   25      surat

In [40]:
readdata

   name  Age       city
0  niya   45  ahemdabad
1  diya   25      surat

In [1]:
readdata.index = ['first','second']

NameError: name 'readdata' is not defined

In [3]:
# oops in python
class temp:
    def fernhit(self,celcius):
        fernhit = (celcius*9/5)+32
        print("Fernhit is : ",fernhit)

t1=temp()
t1.fernhit(56)
t1.fernhit(45.65)-
t1.fernhit(1)

Fernhit is :  132.8
Fernhit is :  114.16999999999999
Fernhit is :  33.8