In [1]:
import pandas as pd
import numpy as np

In [5]:
dic1 = {
    "name" : ["niya","diya","siya"],
    "Age" : [20,25,56],
    "city" : ["ahemdabad","surat","ahemdabad"]
}

In [14]:
value = pd.DataFrame(dic1)

ValueError: All arrays must be of the same length

In [10]:
value

   name  Age       city
0  niya   20  ahemdabad
1  diya   25      surat

In [8]:
value

   name  Age       city
0  niya   20  ahemdabad
1  diya   25      surat

In [9]:
value.to_csv("p1.csv")

In [11]:
value

   name  Age       city
0  niya   20  ahemdabad
1  diya   25      surat

In [12]:
value.to_csv("p1.csv",index=False)

In [15]:
value.tail(2)

   name  Age       city
0  niya   20  ahemdabad
1  diya   25      surat

In [16]:
value.tail(1)

   name  Age   city
1  diya   25  surat

In [17]:
value.head(1)

   name  Age       city
0  niya   20  ahemdabad

In [18]:
value.describe()

             Age
count   2.000000
mean   22.500000
std     3.535534
min    20.000000
25%    21.250000
50%    22.500000
75%    23.750000
max    25.000000

In [19]:
read = value.read_csv("p1.csv")

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [20]:
readdata = value.read_csv("p1.csv")

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [21]:
readdata = value.read_csv('p1.csv')

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [22]:
readdata = pd.read_csv('p1.csv')

In [22]:
readdata = pd.read_csv('p1.csv')

In [23]:
readdata

   name  Age       city
0  niya   20  ahemdabad
1  diya   25      surat

In [24]:
readdata = pd.read_csv('p1.csv')

In [25]:
readdata

   id   id.1 firstname
0  12    asd    efjver
1  13    sdf       jya
2  14  jtscc  eweqwqqa

In [26]:
p1[Age]

NameError: name 'p1' is not defined

In [27]:
readdata[Age]

NameError: name 'Age' is not defined

In [28]:
readdata['Age']

KeyError: 'Age'

In [29]:
readdata

   id   id.1 firstname
0  12    asd    efjver
1  13    sdf       jya
2  14  jtscc  eweqwqqa

In [30]:
readdata['name']

KeyError: 'name'

In [31]:
readdata['Age']

KeyError: 'Age'

In [32]:
readdata = pd.read_csv('p1.csv')

In [33]:
readdata['Age']

0    20
1    25
Name: Age, dtype: int64

In [34]:
readdata['name']

0    niya
1    diya
Name: name, dtype: object

In [35]:
readdata['Age'][0]

np.int64(20)

In [36]:
readdata['Age'][0]=45

C:\Users\HP\AppData\Local\Temp\ipykernel_8764\2469715685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readdata['Age'][0]=45

In [37]:
readdata

   name  Age       city
0  niya   45  ahemdabad
1  diya   25      surat

In [38]:
readdata.to_csv('p1.csv')

In [39]:
readdata

   name  Age       city
0  niya   45  ahemdabad
1  diya   25      surat

In [40]:
readdata

   name  Age       city
0  niya   45  ahemdabad
1  diya   25      surat

In [1]:
readdata.index = ['First','Second']

NameError: name 'readdata' is not defined

In [2]:
readdata

NameError: name 'readdata' is not defined

In [3]:
readdata.to_csv('p1.csv')

NameError: name 'readdata' is not defined

In [4]:
readdata = pd.read_csv('p1.csv')

NameError: name 'pd' is not defined

In [5]:
readdata = pd.read_csv('p1.csv')

NameError: name 'pd' is not defined

In [1]:
import

SyntaxError: Expected one or more names after 'import' (2494350585.py, line 1)

In [2]:
# user define function

def new():
    print("hello it is user define function")

new()

hello it is user define function

In [6]:
# list operations using the python basic and advanced also

new = ["first","second","third","fourth","first","second"]
print(new)
print(len(new))
n=list(set(new))
print(n)
print(new[3])
new[2]="TEN"
print(new)
new.sort()
print(new)
print(max(new))
print(min(new))
new.remove("fourth")
print(new)
new.append("eight")
print(new)
new.insert(1,"nine")
print(new)
for no in new:
    if "TEN" in no:
        print("it will be here")

['first', 'second', 'third', 'fourth', 'first', 'second']
6
['second', 'first', 'fourth', 'third']
fourth
['first', 'second', 'TEN', 'fourth', 'first', 'second']
['TEN', 'first', 'first', 'fourth', 'second', 'second']
second
TEN
['TEN', 'first', 'first', 'second', 'second']
['TEN', 'first', 'first', 'second', 'second', 'eight']
['TEN', 'nine', 'first', 'first', 'second', 'second', 'eight']
it will be here

In [10]:

from datetime import timedelta,datetime

date=datetime.now()
print(date)
date=datetime.now()+timedelta(days=10)
print(date)
date=datetime.now()-datetime(2024,8,20)
print(date)

2025-05-01 15:17:26.617817
2025-05-11 15:17:26.618581
254 days, 15:17:26.618877

In [11]:
import math
import random

In [14]:
print(math.sqrt(9))
print(math.pow(2,2))
print(math.gcd(16,48))
print(math.factorial(9))
print(math.ceil(9.7892))
print(math.floor(9.7892))

3.0
4.0
16
362880
10
9

In [20]:
mylist=["first","second","third","fourth","fifth"]
rndomint=random.randint(1,10)
rndomint1=random.random()
rndomint2=random.choice(mylist)
random.shuffle(mylist)
print(rndomint)
print(rndomint1)
print(rndomint2)
print(mylist)

7
0.5502986814244647
first
['first', 'third', 'fifth', 'fourth', 'second']

In [48]:
#string methods

string="welcome to programing word"
print(string)
print(string[::-1])
print(string[:7])
print(string[11:17])
print(string[::1])
print(string[::2])
print(string[::-2])
print(string[::3])

# string concate
s1="hello"
s2="world"
print(s1+s2)

# string formating

print(f"hello {s2}")
st="hello {}".format(s2)
print(st)
print("hello {},".format(s2))

# case conversion using the python
u=s1.upper()
print(u)
l=s1.lower()
print(l)
c=s1.capitalize()
print(c)
t=s1+s2.title()
print(t)

# searching and replacing the string

print(string.find("to"))
print(string.replace("to","TO"))

# string anyalyses
nums="number1234"
print(nums.isalnum())
print(nums.isalpha())
print(nums.isdigit())
print(nums.isspace())

# spilting and joinning the string

print(string.split())
print(string.split(","))
print("".join(string))
print(".".join(string))

# advanced example 
# check start and end of the string
print(string.startswith("welcome"))
print(string.endswith("word"))
# remove unwanted character in the string
m="----jsdh----"
print(m.strip("-"))
print(string.count("o"))
rev=""
for c in string:
    rev=c+rev
print(rev)

welcome to programing word
drow gnimargorp ot emoclew
welcome
progra
welcome to programing word
wloet rgaigwr
do nmropo mce
wceorri r
helloworld
hello world
hello world
hello world,
HELLO
hello
Hello
helloWorld
8
welcome TO programing word
True
False
False
False
['welcome', 'to', 'programing', 'word']
['welcome to programing word']
welcome to programing word
w.e.l.c.o.m.e. .t.o. .p.r.o.g.r.a.m.i.n.g. .w.o.r.d
True
True
jsdh
4
drow gnimargorp ot emoclew

In [64]:
# tuples  are immutable it can not change
tup=(10,20,30,40,50,20,20,20,46,20,65,61,94,2,20)
print(tup[0],tup[-1])
print(tup[::-1])
print(len(tup))
print(type(tup))
# packing and unpacking using tuple
tup=("python",3.6,True)
# unpackin
lang,version,is_daynamic=tup
print(lang,version,is_daynamic)
print(tup.count(20))
print(tup.index(2))

10 20
(20, 2, 94, 61, 65, 20, 46, 20, 20, 20, 50, 40, 30, 20, 10)
15
<class 'tuple'>
python 3.6 True
0

ValueError: tuple.index(x): x not in tuple

In [74]:
dictionary={
    "name":"niya",
    "age":20,
    "study":"mscit"
}
print(dictionary)
print(dictionary.keys())
print(dictionary.values())
print(dictionary.items())
keys=["no1","no2","no3"]
values=[20,40,60]
print(zip(keys,values))

{'name': 'niya', 'age': 20, 'study': 'mscit'}
dict_keys(['name', 'age', 'study'])
dict_values(['niya', 20, 'mscit'])
dict_items([('name', 'niya'), ('age', 20), ('study', 'mscit')])
<zip object at 0x00000284F196DF80>

In [ ]:
# oops in python using class,object ,inharitance,polymorphisum and 

class

In [76]:
# re method in python

import re
string="hello it is python programing"
match=re.match(r"hello java",string)
if bool(match):
    print("string is mached")
else:
    print("string is not match")

string is not match

In [77]:
import re
string="hello it is python programing"
search=re.search(r"hello",string)
if bool(search):
    print("true")
else:
    print("not match")

true

In [78]:
import re
string="hello234 i34t is234 python234 programing2365"
search=re.search(r"\d",string)
if bool(search):
    print("true")
else:
    print("not match")

true

In [80]:
import re
string="hello234 i34t is234 python234 programing2365"
search=re.findall(r"\d",string)
if bool(search):
    print("true")
else:
    print("not match")

true

In [81]:
import re
string="hello234 i34t is234 python234 programing2365"
search=re.split(r"\s+",string)
if bool(search):
    print("true")
else:
    print("not match")

true

In [84]:
# replace using re sub
import re
string="hello234 i34t is234 python234 programing2365"
search=re.sub(r"python","java",string)
if bool(search):
    print("true")
else:
    print("not match")
print(search)

true
hello234 i34t is234 java234 programing2365

In [86]:
import re
string="my email is temp@gmail.com"
search=re.findall(r"\S+@\S+",string)
if bool(search):
    print("true")
else:
    print("not match")
print(search)

true
['temp@gmail.com']

In [87]:
import re
string="my email is temp@gmail.com"
search=re.findall(r"\d{3}-\d{3}-\d{4}",string)
if bool(search):
    print("true")
else:
    print("not match")
print(search)

not match
[]

In [ ]:
import pdb

def add(a,b):
    ans=a+b
    return ans

pdb.set_trace()
x=input("enter the no1")
y=input("enter the no2")
sum=add(int(x),int(y))
print(sum)

In [ ]:
import pdb

def add(a,b):
    ans=a+b
    return ans

# pdb.set_trace()
x=input("enter the no1")
y=input("enter the no2")
sum=add(int(x),int(y))
print(sum)

In [ ]:
import pdb

def countnum(lst):
    pdb.set_trace()
    count=0
    for num in lst:
        if num % 2==0:
            count+=1
        return count


nums=[1,2,3,4,5,6,7]
print(countnum(nums))

In [ ]:
# oops in python
class temp:
    def fernhit(self,celcius):
        fernhit = (celcius*9/5)+32
        print("Fernhit is : ",fernhit)

t1=temp()
t1.fernhit(56)